/* form.css */

* {
  margin: 0px;
  padding: 0px;
}

form {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  min-width: 660px;
}

form fieldset {
  font-size: 100%;
  border-color: #000000;
  border-width: 1px 0px 0px 0px;
  border-style: solid none none none;
  padding: 10px;
  margin: 0px 0px 0px 0px;
}

form fieldset legend {
  font-size: 130%;
  font-weight: normal;
  color: #000000;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px;
}

label {
  font-size: 100%;
}

label u {
  font-style: normal;
  text-decoration: underline;
}

input, select, textarea {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 100%;
  color: #000000;
}

textarea {
  overflow: auto;
}

form div {
  clear: left;
  display: block;
  width: 600px;
  height: expression('1%');
  margin: 5px 0px 0px 0px;
  padding: 1px 3px;
}

form fieldset div.notes {
  float: right;
  width: 200px;
  height: auto;
  margin: 0px 0px 10px 10px;
  padding: 5px;
  border: 1px solid #666666;
  background-color: #ffffe1;
  color: #666666;
  font-size: 88%;
}

form fieldset div.notes h4 {
  background-image: url(/images/icon_info.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 3px 0px 3px 27px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #666666;
  color: #666666;
  font-size: 110%;
}

form fieldset div.notes p {
  margin: 0em 0em 1.2em 0em;
  color: #666666;
}

form fieldset div.notes p.last {
  margin: 0em;
}

form fieldset li a {
  background-color: #efd;
  font-size: 60%;
  padding: 2px;
}

form div fieldset {
  clear: none;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  margin: 0px 0px 0px 142px;
  padding: 0px 5px 5px 5px;
}

form div fieldset legend {
  font-size: 100%;
  padding: 0px 3px 0px 9px;
}

form div.required fieldset legend {
  font-weight: bold;
}

form div label {
  display: block;
  float: left;
  width: 130px;
  padding: 3px 5px;
  margin: 0px 0px 5px 0px;
  text-align: right;
}

form div.optional label, label.optional {
  font-weight: normal;
}

form div.required label, label.required {
  font-weight: bold;
}

form div label.labelCheckbox, form div label.labelRadio {
  float: none;
  display: block;
  width: 200px;
  height: expression('1%');
  padding: 0px;
  margin: 0px 0px 5px 142px;
  text-align: left;
}

form div fieldset label.labelCheckbox, form div fieldset label.labelRadio {
  margin: 0px 0px 5px 0px;
  width: 170px;
}

p.error {
  background-color: #ff0000;
  background-image: url(/images/icon_error.gif);
  background-repeat: no-repeat;
  background-position: 3px 3px;
  color: #ffffff;
  padding: 3px 3px 5px 27px;
  border: 1px solid #000000;
  margin: auto 100px;
}

form div.error {
  background-color: #ffffe1;
  background-image: url(/images/required_bg.gif);
  background-repeat: no-repeat;
  background-position: top left;
  color: #666666;
  border: 1px solid #ff0000;
}

form div.error p.error {
  background-image: url(/images/icon_error.gif);
  background-position: top left;
  background-color: transparent;
  border-style: none;
  font-size: 88%;
  font-weight: bold;
  margin: 0px 0px 0px 118px;
  width: 200px;
  color: #ff0000;
}

form div input, form div select, form div textarea {
  padding: 1px 3px;
  margin: 0px 0px 0px 0px;
}

form div input.inputFile {
  width: 211px;
}

form div select.selectOne, form div select.selectMultiple {
  width: 211px;
  padding: 1px 3px;
}

form div input.inputCheckbox, form div input.inputRadio, input.inputCheckbox, input.inputRadio {
  display: inline;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border-width: 0px;
  padding: 0px;
  margin: 0px 0px 0px 140px;
}

form div.submit {
  width: 214px;
  padding: 0px 0px 0px 140px;
}

form div.submit div {
  display: inline;
  float: left;
  text-align: left;
  width: auto;
  padding: 0px;
  margin: 0px;
}

form div input.inputSubmit, form div input.inputButton, input.inputSubmit, input.inputButton {
  background-color: #cccccc;
  color: #000000;
  width: auto;
  padding: 0px 6px;
  margin: 0px;
}

form div.submit div input.inputSubmit, form div.submit div input.inputButton {
  float: right;
  margin: 0px 0px 0px 5px;
}

form div small {
  display: block;
  margin: 0px 0px 5px 142px;
  padding: 1px 3px;
  font-size: 88%;
  height: expression('1%');
}
