body {
    font-family:century schoolbook, georgia, verdana, arial, sans-serif;
    margin:40px 100px 100px 100px;
    background:#BCACAC;
}

A 			{ color: #003366; text-decoration: underline; }
A:link		{ color: #003366; text-decoration: underline; }
A:visited	{ color: #003366; text-decoration: underline; }
A:active	{ color: #999999;  }
A:hover		{ color: #999999;  }

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

#page {
    position:absolute;
    width:688px;
    top:40px;
    left:50%;
    margin-left:-344px;
}

#banner {
    color:#333;
    font-size:large;
    font-weight:normal;	
    width:100%;
}

#banner h1 {
    font-size:xx-large;
}

#banner a,
    #banner a:link,
    #banner a:visited,
    #banner a:active,
    #banner a:hover {
    color: #333;
    text-decoration: none;
}

#content {
    float:left;
    margin-bottom:40px;
}

#sidebar {	
    float:right;
    padding:20px 5px 60px 5px;
    width:140px;
}
    
#blog {
    border-right:solid 6px white;
    width:500px;
    padding:20px 5px 60px 5px;
}

.tagline {
    background:white;
    padding:3px;
}

.dayHeader {
    color: white;
    font-size:large;
    padding:5px 0px;
}

.entry {
    border-top: solid 1px #C99;
    border-bottom: solid 1px #C99;
    background:#D7C7C3;
    padding:10px 8px;
}

.entryTitle	{
    font-size: medium;
    color: #666;
}			

.entryContent {
    font-family:palatino, georgia, verdana, arial, sans-serif;
    color:#333;
    font-size:small;
    font-weight:normal;
    line-height:200%;
}

.entryContent a,
.entryContent a:link,
.entryContent a:visited,
.entryContent a:active,
.entryContent a:hover {
    font-weight: normal;
    text-decoration: underline;
}

.entryFooter { 
    font-size:x-small; 
    text-align:center;
    padding:3px;
}
    
.entryFooter a,
.entryFooter a:link,
.entryFooter a:visited,
.entryFooter a:active,
.entryFooter a:hover {
    font-weight: normal;
    text-decoration: underline;
}

.sidebarTitle {
    color: white;
    font-size:large;
    padding:5px 0px;
}

.sidebarBox ul {
    margin:0px;
    padding:0px;
}

.sidebarBox li {
    display: block;
    list-style-image: none;
    list-style-type: none;
}

.sidebarBox p {
    margin:0px;
    padding:0px;
}
